$primary: #1a053a; // Roxo Escuro (cor principal)
$primary-light: #6a1b9a; // Roxo Escuro
// Cores Secundárias
$secondary: #e65100; // Laranja Escuro (Esta cor é mais profunda e evoca uma sensação de energia e entusiasmo.)
$blue: #0288d1; // Azul Escuro (Esta cor é mais rica e pode ser associada a elementos de fantasia e anime.)

// Cores Acentuadas
$green-accent: #7bda8d; // Verde Escuro (Esta cor mantém a vitalidade, mas com uma tonalidade mais profunda.)
$red-accent: #d50000; // Vermelho Escuro (Adicionando um toque dramático e intenso à paleta.)

// Cores Neutras
$black: #212121; // Preto (Para texto e elementos de destaque.)
$gray: #757575; // Cinza Médio (Para elementos secundários e contraste.)
$white: #ffffff; // Branco (Para fundo e contraste.)
