@import 'styles/breakpoints';

.header {
  position: relative;
}

.header {
  display: grid;
  grid-template-areas: 'imagem';
  justify-content: space-between;
  @media(max-width: $tablet) {
    gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    text-align: center;
  }
  &-button {
    display: flex;
    @media(max-width: $tablet) {
      justify-content: center;
    }
  }
}